{
	# Not necessary, I just don't like the admin API
	admin off
	
	http_port 8080
	
	# Required for Quest compatibility. If OCSP stapling is left on, serving videos to
	# Quest may work for up to one week, but will then fail due to expiration issues.
	# The OCSP bug can be confirmed by leaving OCSP stapling on, waiting 8 days, and
	# then running `curl -v --cert-status https://HOSTNAME/``, which will end with
	# the error `curl: (91) OCSP response has expired`.
	ocsp_stapling off
}

localhost:8443 {
	file_server browse {
		root /www-tir-na-nog/root
	}

	reverse_proxy /api/* localhost:9000

	forward_auth /files/restricted/* localhost:9000 {
		uri /verify
	}

	log {
		output file /www-tir-na-nog/access.log
	}
}
